*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika', sans-serif;
}

/**************** NAV BAR *****************/
#navbar{
    background-color: #40596b;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;

}

.menu-bar ul{
    list-style: none;
}

.menu-bar ul li{
    display: inline-block;
    font-size: 20px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: sandybrown;
    padding: 10px;
}

/**************** Ticky bot add section *****************/

#home {

    background-color:#55c0ec;
    padding-top:250px;
    padding-bottom: 0.5px;
    display: flex;
}


.home-conteiner{
    display: inline;
    flex-direction:column;
    justify-content: center;
    position: relative;
    left: 450px;
}



.discription h1{
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(0,0,0,0.6);


}

.discription p{
    font-size: 26.8px;
    color: white;
    font-weight: 300;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;


}

.add-slack img{

    position: relative;
    left: 100px;
    border-radius: 5px;

}

.botimage{
   position: relative;
   left: 350px;
   bottom: 135px;
}




/***********
header a:hover{
    color: thistle;
    background-color: wheat;
    border-color: whitesmoke;
    transition: all 1s e;
}
********/

/**************** What is *****************/
#about{
    background-color:white;
    padding-top:100px;
    padding-bottom: 100px;
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.title{
    font-size: 40px;
    font-weight: 300;
    flex-basis: 100%;
    color: rgb(0,0,0,0.75);

}

.text-box1{
    align-self: center;
    margin-right: 450px;
    position: relative;
    top: 50px; 
    font-size: 20px;
    font-weight: 300;
    color: rgb(0,0,0,0.75);
}

.text-box2{
    align-self: center;
    margin-left: 500px;
    position: relative;
    bottom: 28px; 
    left: 80px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(0,0,0,0.75);

}

.text-box3{
    align-self: center;
    position: relative;
    top: 50px; 
    right: 120px;
    flex-basis: 100%;
    font-size: 20px;
    font-weight: 300;
    color: rgb(0,0,0,0.75);
    
}



/**************** How it works *****************/

#features{
    background-color: #90ddaa;
    padding-top:80px;
    padding-bottom: 80px;
    
}

.title-how{
    font-size: 40px;
    font-weight: 300;
    flex-basis: 100%;
    text-align: center;
    position: relative;
 


}


.feature-wrap{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em auto;
    max-width: 960px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.feature-wrap img{
    display: block;
    max-width: 100%;
    height: auto;

}

.card-figure {
    margin: 0;
    padding: 0;
}

.card-title {
    margin: 0.6em 0 0;
    color: #333;
    text-align: center;
    font-size: 1.8em;
}


.card-text-tax {
    margin: 0;
    padding: 1em;
    color: #818181;
    text-align: center;
    font-size: 17px;

}


.card-list {
    margin: 0.5em auto;
    padding: 0;
    padding-bottom: 60px;
    width: 96%;
    background: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}


@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(96% / 2); /* 96%幅を2で割るという指定 */
    }
}


@media all and (min-width: 992px) {
    .card-list {
        width: calc(96% / 3); /* 96%幅を3で割るという指定 */
}
    

    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(96% / 3);
    }
}


/**************** start *****************************/

.cta-container{
    background-color:white;
    padding-top:100px;
    padding-bottom: 100px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.start-title{
    font-size: 40px;
    font-weight: 300;
    flex-basis: 100%;
    position: relative;
    bottom: 50px;
    margin-bottom: 50px; 
    

}

.cta-box1{
    align-self: center;
    position: relative;
    bottom: 40px; 
    font-size: 20px;
    font-weight: 300;
    text-align: center;
 

}

.add-slack2{
    position: relative;
    top:70px;
    border-radius: 70px;
}


.cta-box2{
    position: relative;
    top: 70px; 

}


/**************** copy *****************************/
.sitefooter{
    background-color:#40596b;
    padding-top:50px;
    padding-bottom: 50px;

}
.footer-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    color: white;
    

}

.scroll-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    background-color: yellow;
    width: 50px;
    height: 50px;

    color:gray;
    line-height: 50px;
    text-align: center;
  }
  .scroll-top:hover {
    cursor: pointer;
    opacity: 0.7;
  }